<div *ngIf="isSuccess" class="wrap_success">
  <div class="success">
    <img src="./../../../assets/img/success.jpg" id="signupLogo" />
    <h2 class="formTitle">
      Cập nhật thành công
    </h2>
    <div class="center">
      <button pButton pRipple type="button" label="Chuyển đến trang đăng nhập" routerLink="/login"
        icon="pi pi-arrow-right" class="p-button-text p-button-success"></button>
    </div>
  </div>
</div>

<div *ngIf="isFail" class="wrap_fail">
  <div class="fail">
    <img src="./../../../assets/img/fail.jpg" id="signupLogo" />
    <h2 class="formTitle">
      Đã xảy ra lỗi
    </h2>
    <div class="center">
      <div>Vui lòng thử lại</div>
      <button pButton pRipple type="button" label="Chuyển đến trang đăng nhập" routerLink="/login"
        icon="pi pi-arrow-right" class="p-button-text p-button-danger"></button>
    </div>
  </div>
</div>

<div *ngIf="showMessage" style="min-height: 400px;">
  <div class="message">
    <h2 class="formTitle">
      Token không hợp lệ
    </h2>
    <div class="inputDiv center">
      Vui lòng gửi lại yêu cầu khác!
    </div>
  </div>
</div>

<div class="mainDiv" *ngIf="!showMessage&&!isSuccess&&!isFail">
  <div class="cardStyle">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <img src="https://s3-us-west-2.amazonaws.com/shipsy-public-assets/shipsy/SHIPSY_LOGO_BIRD_BLUE.png"
        id="signupLogo" />

      <h2 class="formTitle">
        Đặt lại mật khẩu
      </h2>

      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password *</label>
        <input [type]="showPwd ? 'text' : 'password'" id="password" formControlName="password" required>
        <label class="errorLabel" *ngIf=" f['password'].errors?.['required'] && f['password'].touched
                        || f['password'].errors?.['password'] && submitted">Mật khẩu không được để trống</label>
        <label class="errorLabel" *ngIf=" f['password'].errors?.['minlength']">Mật khẩu phải có ít nhất 6 kí tự</label>
        <label class="errorLabel" *ngIf=" f['password'].errors?.['maxLength']">Mật khẩu phải chỉ tối đa 40 kí tự</label>
        <button *ngIf="!showPwd" (click)="showPwd=!showPwd" pButton pRipple type="button" icon="pi pi-eye"
          class="p-button-rounded p-button-text show"></button>
        <button *ngIf="showPwd" (click)="showPwd=!showPwd" pButton pRipple type="button" icon="pi pi-eye-slash"
          class="p-button-rounded p-button-text show"></button>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password *</label>
        <input [type]="showConfirm ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword">
        <label class="errorLabel"
          *ngIf="f['confirmPassword'].errors?.['required'] && f['confirmPassword'].touched || f['confirmPassword'].errors?.['required'] 
              && submitted || form.value?.password !=  form.value?.confirmPassword && f['confirmPassword'].touched  ">*Mật khẩu nhập lại không
          hợp lệ
        </label>
        <button *ngIf="!showConfirm" (click)="showConfirm=!showConfirm" pButton pRipple type="button" icon="pi pi-eye"
          class="p-button-rounded p-button-text show"></button>
        <button *ngIf="showConfirm" (click)="showConfirm=!showConfirm" pButton pRipple type="button"
          icon="pi pi-eye-slash" class="p-button-rounded p-button-text show"></button>
      </div>

      <div class="buttonWrapper">
        <button type="submit" [disabled]="form.invalid" class="submitButton pure-button pure-button-primary">
          <span>Tiếp tục</span>
        </button>
      </div>

    </form>
  </div>
</div>

<p-dialog header="Loading" [(visible)]="isLoading" [modal]="true" [style]="{width: '500px'}" [draggable]="false" [resizable]="false">
  <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</p-dialog>