@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
.card {
    background-color: var(--surface-card);
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014!important;
}

p-dialog {
    .p-dialog-mask.p-component-overlay {
        z-index: 44!important;
    }
}

p-dialog {
    .p-dialog-mask {
        .p-element.ng-trigger.ng-trigger-animation.ng-tns-c150-2.p-dialog.p-component.p-dialog-draggable.p-dialog-resizable.ng-star-inserted {
            width: 100vw;
        }
    }
}

.product-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    &.status-1 {
        background: #C8E6C9;
        color: #256029;
    }
    &.status-0 {
        background: #FFCDD2;
        color: #c63737;
    }
}

.field {
    .image-edit {
        .tag-img {
            display: flex;
            align-items: center;
            img {
                width: 100%;
                height: 50px;
            }
            i {
                cursor: pointer;
                font-size: 1.3rem;
                &:hover {
                    color: red;
                }
            }
        }
    }
}