<footer>
    <div class="site-footer">
        <div class="top-footer" fxLayoutAlign="center">
            <div class="" fxLayout="row wrap" fxFlex="87" fxFlex.sm="90" fxFlex.xs="95">
                <div class="item" fxFlex="20" fxFlex.sm="50" fxFlex.xs="50">
                    <h4 class="title">Giới thiệu</h4>
                    <ul class="menu-list">
                        <li class="menu-item"><a href="" class="">Trang chủ</a></li>
                        <li class="menu-item"><a href="">Về Memoryzone</a></li>
                        <li class="menu-item"><a href="">Điều khoản giao dịch</a></li>
                        <li class="menu-item"><a href="">Bảo mật thông tin</a></li>
                        <li class="menu-item"><a href="">Tuyển dụng</a></li>
                    </ul>
                </div>
                <div class="item" fxFlex="20" fxFlex.sm="50" fxFlex.xs="50">
                    <h4 class="title">CHÍNH SÁCH CÔNG TY</h4>
                    <ul class="menu-list">
                        <li class="menu-item"><a href="">Chính sách giao nhận</a></li>
                        <li class="menu-item"><a href="">Chính sách đổi trả hàng</a></li>
                        <li class="menu-item"><a href="">Phương thức thanh toán</a></li>
                        <li class="menu-item"><a href="">Hướng dẫn trả góp</a></li>
                        <li class="menu-item"><a href="">Chế độ bảo hành</a></li>
                    </ul>
                </div>
                <div class="item" fxFlex="20" fxFlex.sm="50" fxFlex.xs="100">
                    <h4 class="title">Hỗ trợ khách hàng</h4>
                    <ul class="menu-list">
                        <li class="menu-item"><a href="">Bảo hành: <b>(028) 7301 3879</b></a></li>
                        <li class="menu-item"><a href="">Hotline bảo hành tại HCM: <br><b>0703 305 350</b></a></li>
                        <li class="menu-item"><a href="">Gửi  yêu cầu bảo hành</a></li>
                        <li class="menu-item"><a href="">Gửi yêu cầu đổi hàng</a></li>
                        <li class="menu-item"><a href="">P. Kinh doanh: <br><b>sales@memoryzone.com.vn</b></a></li>
                        <li class="menu-item"><a href="">P. Hỗ trợ khách hàng: <br><b>support@memoryzone.com.vn
                        </b></a></li>

                    </ul>
                </div>
                <div class="item" fxFlex="40" fxFlex.xs="100">
                    <div class="contact-list">
                        <h4>CTY TNHH DỊCH VỤ TIN HỌC SIÊU TỐC</h4>
                        <ul class="item-contact">
                            <p>Trụ sở chính: Số 91-93 Đường số 5, Phường An Phú, Tp. Thủ Đức, Thành phố Hồ Chí Minh MST: 0311427563 - cấp ngày 22 tháng 12 năm 2011 tại Sở Kế Hoạch Và Đầu Tư THÀNH PHỐ HỒ CHÍ MINH</p>
                        </ul>
                        <ul class="item-contact">
                            <h4> HỒ CHÍ MINH:</h4>
                            <li>Địa chỉ: 4C Đồng Xoài, Phường 13, Quận Tân Bình
                            </li>
                            <li><span>Điện thoại: </span>
                                <a href="tel:0909305350"><b>(028) 7301 3878 - DĐ: 0909 305 350</b> <br>
                                <b>Mở cửa: 9h đến 20h từ thứ 2 đến CN</b>
                                </a>
                            </li>

                        </ul>
                        <ul class="item-contact">
                            <h4>SHOWROOM HÀ NỘI:</h4>
                            <li>Địa chỉ: 60 Phố Dịch Vọng Hậu, Dịch Vọng Hậu, Quận Cầu Giấy
                            </li>
                            <li><span>Điện thoại: </span>
                                <a href="tel:0909305350"><b>(028) 7301 3878 - DĐ: 0909 305 350</b> <br>
                          <b>Mở cửa: 9h đến 20h từ thứ 2 đến CN</b>
                          </a>
                            </li>
                        </ul>
                        <ul class="icon">
                            <li>
                                <a href="http://online.gov.vn/Home/WebDetails/10935"><img src="//bizweb.sapocdn.net/100/329/122/themes/835213/assets/boct_1.png?1649651937225" data-lazyload="//bizweb.sapocdn.net/100/329/122/themes/835213/assets/boct_1.png?1649651937225" alt="Memoryzone - Professional in memory"></a>
                            </li>
                            <li>
                                <a href=""><img src="//bizweb.sapocdn.net/100/329/122/themes/835213/assets/boct_2.png?1649651937225" data-lazyload="//bizweb.sapocdn.net/100/329/122/themes/835213/assets/boct_2.png?1649651937225" alt="Memoryzone - Professional in memory"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="site" fxLayoutAlign="center">
                <div class="" fxLayout="row wrap" fxLayout.xs="column" fxFlex="87" fxFlex.xs="95">
                    <div class="item" fxFlex="40" fxFlex.xs="100" fxFlex.sm="100">
                        <h4 class="title">ĐĂNG KÝ NHẬN TIN KHUYẾN MÃI</h4>
                        <form action="">
                            <input type="text" class="input-custom" placeholder="Nhập email của bạn">
                            <button mat-flat-button class="btn-custom">Đăng ký</button>
                        </form>
                    </div>
                    <div class="item" fxFlex="40" fxFlex.xs="100" fxFlex.sm="50">
                        <h4 class="title">PHƯƠNG THỨC THANH TOÁN</h4>
                        <a href=""><img src="//bizweb.sapocdn.net/100/329/122/themes/835213/assets/payment.png?1649651937225" data-lazyload="//bizweb.sapocdn.net/100/329/122/themes/835213/assets/payment.png?1649651937225" alt="Memoryzone - Professional in memory"></a>
                    </div>
                    <div class="item" fxFlex="20" fxFlex.xs="100" fxFlex.sm="50"> 
                        <h4 class="title">KẾT NỐI VỚI CHÚNG TÔI</h4>
                        <ul class="follow-option">

                            <li>
                                <a href="https://www.facebook.com/memoryzonevietnam" title="Theo dõi Facebook Memoryzone - Professional in memory"><i class="material-icons">facebook</i></a>
                            </li>


                            <li>
                                <a href="#" title="Theo dõi Twitter Memoryzone - Professional in memory"><i class="material-icons">facebook</i></a>
                            </li>


                            <li>
                                <a href="#" title="Theo dõi Google Plus Memoryzone - Professional in memory"><i class="material-icons">facebook</i></a>
                            </li>


                            <li>
                                <a href="#" title="Theo dõi Instagam Memoryzone - Professional in memory"><i class="material-icons">facebook</i></a>
                            </li>


                            <li>
                                <a href="#" title="Theo dõi Youtube Memoryzone - Professional in memory"><i class="material-icons">facebook</i></a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
