<section class="banner-slide" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutGap.sm="20px" fxLayout.xs="column" fxLayout.sm="column" fxFlex="87" fxFlex.sm="98" fxFlex.xs="98" fxFlexFill>
        <div class="main-banner" fxFlex="75" fxFlex.sm="100" fxFlexFill>
            <app-slide-home></app-slide-home>
        </div>
        <div class="sub-banner" fxLayout="column" fxFlex="25" fx.sm="100" fx.xs="100">
            <a href="" class="banner-1"><img src="../../../assets/img/banner_slider_1.webp" alt=""></a>
            <a href="" class="banner-2"><img src="../../../assets/img/banner_slider_2.webp" alt=""></a>
        </div>
    </div>
</section>
<section class="banner-category" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayout.sm="column" fxFlex="87" fxFlex.sm="98" fxFlex.xs="98" fxFlexFill>
        <div fxFlex="33.3333333333">
            <a href="" class="banner-sub">
                <img src="../../../assets/img/banner_1.webp">
            </a>
        </div>
        <div fxFlex="33.3333333333">
            <a href="" class="banner-sub">
                <img src="../../../assets/img/banner_2.webp">
            </a>
        </div>
        <div class="" fxLayout="column" fxLayoutGap="30px" fxFlex="33.3333333333">
            <a href="" class="banner-sub banner-1"><img src="../../../assets/img/banner_3.webp" alt=""></a>
            <a href="" class="banner-sub banner-2"><img src="../../../assets/img/banner_4.webp" alt=""></a>
        </div>
    </div>
</section>
<section fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutGap="30px" fxLayout.xs="column" fxLayout.sm="column" fxFlex="87" fxFlex.sm="98" fxFlex.xs="97" fxFlexFill>
        <app-product-list-home></app-product-list-home>
    </div>
</section>
<section fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutGap="30px" fxLayout.xs="column" fxLayout.sm="column" fxFlex="87" fxFlex.sm="98" fxFlex.xs="97" fxFlexFill>
        <app-product-list-home></app-product-list-home>
    </div>
</section>