<div class="wrap-viewed">
    <div class="title">
        SẢN PHẨM ĐÃ XEM
    </div>
      <swiper [slidesPerView]="1" [spaceBetween]="10" 
      [pagination]="{
        clickable: true
      }" [breakpoints]="{
          '375': {
            slidesPerView: 2,
            spaceBetween: 20,
            slidesPerGroup: 2
          },
          '768': {
            slidesPerView: 3,
            spaceBetween: 40,
            slidesPerGroup: 3
          },
          '1024': {
            slidesPerView: 5,
            spaceBetween: 50,
            slidesPerGroup: 5
          }
        }" [slidesPerGroup]="5"
        
        class="swiper-viewed">
          <ng-template swiperSlide *ngFor="let item of listProduct ; ">
              <app-item-product></app-item-product>
          </ng-template>
      </swiper>
  </div>