@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

.wrap-relative {
    position: relative;
    margin-bottom: 30px;
    .border {
        width: 100%;
        border-bottom: 2px solid #008744;
        h3{
            margin: 0;
            padding: 10px 28px;
            font-size: 20px;
            line-height: 24px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            font-weight: 400;
            background: #008744;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: -1px;
            .title {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .swiper-relative {
        position: unset;

        .swiper-button-next,
        .swiper-button-prev {
            color: #acacac;
            top: 25px;

            &:after {
                font-size: 18px;
                font-weight: 700;
            }

            &:hover {
                color: var(--main-color);
            }
        }

        .swiper-button-prev {
            left: auto;
            right: 34px;
        }
    }


}