<div class="admin-wrapper" [class.isShowSidebar]="isShowSidebar">
  <app-header-admin (newItemEvent)="showSidebar($event)"></app-header-admin>
  <div class="sidebar">
    <a
      [routerLink]="['home']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="p-link sidebar-item"
      ><i class="pi pi-home"></i><span>Home</span></a
    >
    <a
      [routerLink]="['group-product']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="p-link sidebar-item"
      ><i class="pi pi-calendar"></i><span>Group product</span></a
    >
    <a
      [routerLink]="['product']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="p-link sidebar-item"
      ><i class="pi pi-calendar"></i><span>Product</span></a
    >
    <a
      [routerLink]="['user']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="p-link sidebar-item"
      ><i class="pi pi-users"></i><span>User</span></a
    >
    <a
      [routerLink]="['bill']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="p-link sidebar-item"
      ><i class="pi pi-money-bill"></i><span>Bill</span></a
    >
    <a
      [routerLink]="['voucher']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="p-link sidebar-item"
      ><i class="pi pi-ticket"></i><span>Voucher</span></a
    >
    <a
      [routerLink]="['category']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="p-link sidebar-item"
      ><i class="pi pi-th-large"></i><span>Category</span></a
    >
    <a
      [routerLink]="['comment']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="p-link sidebar-item"
      ><i class="pi pi-comments"></i><span>Comment</span></a
    >
    <a
      [routerLink]="['x']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="p-link sidebar-item"
      ><i class="pi pi-cog"></i><span>Settings</span></a
    >
    <a class="p-link sidebar-item"
      ><i class="pi pi-user"></i><span>Profile</span></a
    >
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
