<div class="checkout-wrapper" fxLayoutAlign="center" style="padding-bottom: 40px;">
    <div class="" fxFlex="90" fxFlex.xs="98" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <main class="information" fxFlex="70" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div class="delivery" fxFlex="50" fxFlex.xs="100" fxFlex.sm="100">
                <div class="title">Thông tin nhận hàng </div>
                <div class="content">
                    <div style="text-align: right;" *ngIf="user==null">
                        <button routerLink="/login" pButton type="button" label="Đăng nhập" icon="pi pi-user"
                            iconPos="left" class="p-button-text p-button-text" style="color:#008744;"></button>
                    </div>
                    <div class="field" *ngIf="addressList.length > 0">
                        <select (change)="onChangeAddress($event)" id="customer-address"
                            class="input-info label-info--select">
                            <option value=""></option>
                            <ng-container *ngFor="let address of addressList">
                                <option value="{{address.id}}">{{address.street}}, phường {{address.ward}},quận
                                    {{address.district}}, thành phố
                                    {{address.city}}.</option>
                            </ng-container>
                        </select>
                        <label for="customer-address" class="label-info label-info--select">Sổ địa chỉ</label>
                    </div>
                    <form [formGroup]="addressForm">
                        <input type="hidden" formControlName="id" value="" id="addressId">
                        <div class="field">
                            <input type="text" class="input-info" id="customer-name" [(ngModel)]="username"
                                formControlName="fullname">
                            <label for="customer-name" class="label-info">Họ và tên *</label>
                            <div *ngIf="submittedAddress && fAddress['fullname'].errors?.['required']
                            || fAddress['fullname'].errors?.['required'] && fAddress['fullname'].touched"
                                style="color: rgb(208, 3, 3);">
                                <small>*Họ và tên không được để trống</small>
                            </div>
                        </div>

                        <div class="field" *ngIf="user!=null">
                            <input type="text" class="input-info" id="customer-email" value="{{user?.email}}" readonly>
                            <label for="customer-email" class="label-info">Email</label>
                        </div>

                        <div class="field">
                            <input type="tel" class="input-info" id="customer-phone" maxlength="25"
                                formControlName="phone"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            <label for="customer-phone" class="label-info">Số điện thoại *</label>
                            <div *ngIf="submittedAddress && fAddress['phone'].errors?.['required'] 
                            || fAddress['phone'].errors?.['required'] && fAddress['phone'].touched"
                                style="color: rgb(208, 3, 3);">
                                <small>*Số điện thoại không được để trống</small>
                            </div>
                        </div>

                        <div class="field">
                            <input type="hidden" [(ngModel)]="nameProvince" formControlName="city" value="">
                            <select (change)="onChangeProvince($event)" id="customer-province" class="input-info">
                                <option disabled>{{nameProvince}}</option>
                                <option *ngFor="let province of provinceList" [value]="province.code">{{province.name}}
                                </option>
                            </select>
                            <label for="customer-province" class="label-info label-info--select">Tỉnh thành *</label>
                            <div *ngIf="submittedAddress && nameProvince==''" style="color: rgb(208, 3, 3);">
                                <small>*Tỉnh thành không được để trống</small>
                            </div>
                        </div>

                        <!-- <mat-form-field appearance="fill">
                            <mat-label>Select your car</mat-label>
                            <select (change)="onChangeProvince($event)" matNativeControl id="mySelectId">
                            <option value="" disabled selected>---</option>
                            <option  *ngFor="let province of provinceList" [value]="province.code">{{province.name}}</option>
                          </select>
                        </mat-form-field> -->

                        <div class="field">
                            <input type="hidden" [(ngModel)]="nameDistrict" value="" formControlName="district">
                            <select (change)="onChangeDistrict($event)" class="input-info" id="customer-district">
                                <option>{{nameDistrict}}</option>
                                <option *ngFor="let district of districtList" [value]="district.code">{{district.name}}
                                </option>
                            </select>
                            <label for="customer-district" class="label-info label-info--select">Quận huyện *</label>
                            <div *ngIf="submittedAddress && nameDistrict==''" style="color: rgb(208, 3, 3);">
                                <small>*Quận huyện không được để trống</small>
                            </div>

                        </div>
                        <div class="field">
                            <input type="hidden" [(ngModel)]="nameCommune" value="" formControlName="ward">
                            <select (change)="onChangeCommune($event)" id="customer-ward" class="input-info">
                                <option>{{nameCommune}}</option>
                                <option *ngFor="let communes of communesList" [value]="communes.code">{{communes.name}}
                                </option>
                            </select>
                            <label for="customer-wards" class="label-info label-info--select">Phường xã *</label>
                            <div *ngIf="submittedAddress && nameCommune==''" style="color: rgb(208, 3, 3);">
                                <small>*Phường xã không được để trống</small>
                            </div>
                        </div>

                        <div class="field">
                            <input type="text" class="input-info" id="customer-street" formControlName="street">
                            <label for="customer-street" class="label-info">Đường *</label>
                            <div *ngIf="submittedAddress && fAddress['street'].errors?.['required'] 
                                || fAddress['street'].errors?.['required'] && fAddress['street'].touched"
                                style="color: rgb(208, 3, 3);">
                                <small>*Đường không được để trống</small>
                            </div>
                        </div>

                        <div class="field">
                            <input type="text" class="input-info" id="customer-company">
                            <label for="customer-company" class="label-info">Công ty (tùy chọn)</label>
                        </div>
                    </form>

                    <div class="field">
                        <textarea [(ngModel)]="note" n rows="2" id="customer-note" class="input-info"></textarea>
                        <label for="customer-note" class="label-info">Ghi chú (tùy chọn)</label>
                    </div>
                </div>
            </div>
            <div class="payment-transport" fxFlex="50" fxFlex.xs="100" fxFlex.sm="100">
                <div class="transport">
                    <div class="title">Vận chuyển</div>
                    <div class="time-delivery">
                        <div class="fill-complete">
                            <input type="radio" id="time-shipping" class="radio-input" checked>
                            <label for="time-shipping" class="radio-label">
                                <span class="time">GIAO NHANH 2-4 NGÀY</span>
                                <span class="fee">Miễn phí khi > 100 triệu đồng</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="payment">
                    <div class="title">Thanh toán</div>
                    <div class="payment-list">

                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="favoriteSeason">
                            <mat-radio-button class="payment-item" *ngFor="let season of seasons" [value]="season">
                                {{season}}
                            </mat-radio-button>
                        </mat-radio-group>

                    </div>
                </div>
            </div>
        </main>
        <aside class="order" fxFlex="30" fxFlex.xs="100" fxFlex.sm="100">
            <div class="header">
                <h2 class="title">Đơn hàng ({{cartItems.length}} sản phẩm)</h2>
            </div>
            <div class="content">
                <div class="product-list">
                    <ng-container *ngFor="let item of cartItems">
                        <div class="product-item">
                            <div class="img-wrapper">
                                <img src="{{ 'http://localhost:3000/FileUpload/files/'+item.img }}" alt="Image"
                                    style="max-width: 70px; max-height: 60px; object-fit: cover;">
                                <span class="quantity">{{ item.quantity }}</span>
                            </div>
                            <div class="name">
                                <p
                                    style="overflow: hidden; text-overflow: ellipsis; max-width: 222px; max-height: 60px; margin: 0;">
                                    {{ item.name }}
                                </p>
                            </div>
                            <div class="price">
                                {{ item.price | number}} ₫
                            </div>
                        </div>
                    </ng-container>
                </div>

                <form [formGroup]="voucherForm" (ngSubmit)="onSubmit()" class="voucher-wrapper">
                    <div class="field">
                        <input type="text" class="input-info" id="voucher-input" formControlName="voucherValue"
                            (input)="changeVoucherCode()">
                        <label for="voucher-input" class="label-info"
                            [ngStyle]="{ 'top': (this.voucherForm.value.voucherValue!='' ? '-1px' : '0') }">Mã giảm
                            giá</label>
                    </div>
                    <button class="main-btn btn-apply" type="submit"
                        [disabled]="!voucherForm.valid || vouchers.size > 1">Áp dụng</button>
                </form>
                <div *ngIf="this.voucherForm.value.voucherValue!='' && !validVoucherCode && submitVoucher"
                    style="color: red;"><small>*Mã giảm giá này không hợp lệ</small> </div>
                <div style="margin: 10px;">
                    <ng-container *ngFor="let code of voucherCodes">
                        <button pButton type="button" class="p-button-outlined" style="margin-bottom: 2px;"
                            (click)="cancelVoucher(code)">
                            <mat-icon class="btn-remove">close</mat-icon>
                            <strong>Bỏ dùng mã {{code}} - {{getCostVoucher(code)|number}} ₫ </strong>
                        </button>
                    </ng-container>
                </div>
                <div class="order-fee">
                    <div class="fee-line" fxLayoutAlign="space-between center">
                        <div class="fee-title">Tạm tính</div>
                        <div class="fee-value">{{totalCart | number}} ₫</div>
                    </div>
                    <div class="fee-line" fxLayoutAlign="space-between center" *ngIf="discount > 0">
                        <div class="fee-title">Giảm giá</div>
                        <div class="fee-value">{{discount | number}} ₫</div>
                    </div>
                    <div class="fee-line" fxLayoutAlign="space-between center">
                        <div class="fee-title">Phí vận chuyển</div>
                        <div class="fee-value">{{shippingCost | number}} ₫</div>
                    </div>
                </div>
                <div class="total-wrapper" fxLayoutAlign="space-between center">
                    <div class="total-title">Tổng cộng</div>
                    <div class="total-value">{{ (totalCart + shippingCost - discount) | number}} ₫</div>
                </div>
                <div class="btn-action" fxLayoutAlign="space-between center">
                    <a class="btn-back" fxLayoutAlign="space-between center" [routerLink]="'/cart'">
                        <mat-icon class="icon-left">arrow_left</mat-icon>Quay lại giỏ hàng
                    </a>
                    <button class="main-btn btn-apply btn-checkout" (click)="checkout()">Đặt hàng</button>
                </div>
            </div>
        </aside>
    </div>
</div>
<p-dialog header="Thông báo" [(visible)]="displayModalSuccess" [modal]="true" [style]="{width: '500px'}"
    [draggable]="false" [resizable]="false">
    <p class="m-0">Đặt hàng thành công</p>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Xem hóa đơn" (click)="showOrder()" *ngIf="orderId > 0"
            class="p-button-success"></button>
        <button pButton pRipple type="button" label="Tiếp tục xem sản phẩm" (click)="continueShopping()"
            class="p-button-info"></button>
    </ng-template>
</p-dialog>
<p-dialog header="Thông báo" [(visible)]="displayModalFail" [modal]="true" [style]="{width: '500px'}"
    [draggable]="false" [resizable]="false">
    <p class="m-0">Đặt hàng không thành công</p>
    <p class="m-0">Đã xảy ra lỗi</p>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Tiếp tục mua sắm" routerLink="/list"
            class="p-button-success"></button>
        <button pButton pRipple type="button" label="Đóng" (click)="displayModalFail=false"
            class="p-button-info"></button>
    </ng-template>
</p-dialog>
<p-dialog header="Thông báo" [(visible)]="displayModalInfo" [modal]="true" [style]="{width: '500px'}"
    [draggable]="false" [resizable]="false">
    <p class="m-0">Bạn chưa đăng nhập</p>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Đăng nhập" routerLink="/login" class="p-button-success"></button>
        <button pButton pRipple type="button" label="Ok" (click)="displayModalInfo=false"
            class="p-button-info"></button>
    </ng-template>
</p-dialog>

<p-dialog header="Thông báo" [(visible)]="displayModalInfoAddress" [modal]="true" [style]="{width: '500px'}"
    [draggable]="false" [resizable]="false">
    <p class="m-0">Thông tin nhận dạng không hợp lệ</p>
    <p class="m-0">Vui lòng kiểm tra lại</p>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Ok" (click)="displayModalInfoAddress=false"
            class="p-button-info"></button>
    </ng-template>
</p-dialog>

<!-- <p-dialog header="Loading" [(visible)]="displayModalLoading" [modal]="true" [style]="{width: '500px'}"
    [draggable]="false" [resizable]="false">
    <p class="m-0">...</p>
</p-dialog> -->

<p-dialog header="Loading" [(visible)]="displayModalLoading" [modal]="true" [style]="{width: '500px'}" [draggable]="false" [resizable]="false">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</p-dialog>